<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0"> 
  <title>US Traffic Accident Analysis</title>

  <!-- D3 -->
  <script src="https://d3js.org/d3.v7.min.js"></script>

  <!-- Leaflet CSS -->
  <link rel="stylesheet" href="https://unpkg.com/leaflet@1.9.4/dist/leaflet.css" crossorigin=""/>

  <!-- Leaflet JavaScript code -->
  <script src="https://unpkg.com/leaflet@1.9.4/dist/leaflet.js" crossorigin=""></script>

  <!-- Plotly JavaScript code -->
  <script src="https://cdn.plot.ly/plotly-latest.min.js"></script>

  <!-- Chart.js JavaScript -->
  <script src="https://cdn.jsdelivr.net/npm/chart.js"></script>

  <!-- Leaflet marker cluster JavaScript code -->
  <script src="https://unpkg.com/leaflet.markercluster@1.0.6/dist/leaflet.markercluster.js"></script>

  <!-- Leaflet heatmap JavaScript code -->
  <script src="https://unpkg.com/leaflet.heat@0.2.0/dist/leaflet-heat.js"></script>

  <!-- Choropleth leaflet plugin JavaScript-->
  <script src= "../static/js/choropleth.js"></script>

  <!-- Our CSS -->
  <link rel="stylesheet" type="text/css" href="../static/css/style.css">
  <link rel="stylesheet" type="text/css" href="../static/css/overlaystyle.css">
  <link rel="stylesheet" type="text/css" href="../static/css/choroplethstyle.css">
</head>
<body>

  <h2>US Fatal Traffic Accident Overlay Map</h2>
  <div id="map" style="height: 600px;"></div>

  <!-- The div that holds our map -->
  <h2>Fatal Traffic Accidents by State, per 100,000 Residents</h2>
  <div id="map2" style="height: 600px; border: medium solid black;"></div>
  <div id="plot"></div>
  <div id="severity"></div>
  <div id="choropleth"></div>
  <div id="temperature"></div>
  <div id="visibility"></div>
  <div id="weather_conditions"></div>
  <div id="wind_speed"></div>
  <div id="day_of_week"></div>
  <div id="time_of_day"></div>

  <!-- SVG for Chart.js line chart -->
  <div id="chartContainer" style="width: 80%; margin: 20px auto;">
    <canvas id="accidentChart"></canvas>
  </div>

 <!-- Chart.js bar chart for hourly accidents -->
 <div id="hourlyChartContainer" style="width: 80%; margin: 20px auto;">
  <canvas id="hourlyAccidentChart"></canvas>
</div>

<!-- Chart.js bar chart for daily accidents -->
<div id="dailyChartContainer" style="width: 80%; margin: 20px auto;">
  <canvas id="dailyAccidentChart"></canvas>
</div>

  <!-- Our JavaScript files -->
  <script type="text/javascript" src="../static/js/barandlineGraphlogic.js"></script>
  <script type="text/javascript" src="../static/js/overlaylogic.js"></script>
  <script type="text/javascript" src="../static/js/us-states.js"></script>
  <script type="text/javascript" src="../static/js/choropleth-logic.js"></script>
</body>
</html>

