<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">//chelseaadded
  <title>US Traffic Accident Analysis</title>

  <!-- D3 -->
  <script src="https://d3js.org/d3.v7.min.js"></script>

  <!-- Leaflet CSS -->
  <link rel="stylesheet" href="https://unpkg.com/leaflet@1.9.4/dist/leaflet.css" crossorigin=""/>

  <!-- Leaflet JavaScript code -->
  <script src="https://unpkg.com/leaflet@1.9.4/dist/leaflet.js" crossorigin=""></script>

  <!-- Plotly JavaScript code -->
  <script src="https://cdn.plot.ly/plotly-latest.min.js"></script>

  <!-- Chart.js JavaScript -->chelsea added
  <script src="https://cdn.jsdelivr.net/npm/chart.js"></script>

  <!-- Our CSS -->
  <link rel="stylesheet" type="text/css" href="static/css/style.css">
</head>
<body>

  <!-- The div that holds our map -->
  <div id="map" style="height: 500px;"></div>//chelsea added "style="height: 500px;""
  <div id="plot"></div>
  <div id="severity"></div>
  <div id="choropleth"></div>
  <div id="temperature"></div>
  <div id="visibility"></div>
  <div id="weather_conditions"></div>
  <div id="wind_speed"></div>
  <div id="day_of_week"></div>
  <div id="time_of_day"></div>

  <!-- SVG for Chart.js line chart -->///chelsea added
  <div id="chartContainer" style="width: 80%; margin: 20px auto;">
    <canvas id="accidentChart"></canvas>
  </div>

 <!-- Chart.js bar chart for hourly accidents -->///chelsea added
 <div id="hourlyChartContainer" style="width: 80%; margin: 20px auto;">
  <canvas id="hourlyAccidentChart"></canvas>
</div>

<!-- Chart.js bar chart for daily accidents -->///chelsea added 
<div id="dailyChartContainer" style="width: 80%; margin: 20px auto;">
  <canvas id="dailyAccidentChart"></canvas>
</div>

  <!-- Our JavaScript file -->
  <script type="text/javascript" src="static/js/barandlineGraphlogic.js"></script>//chelsea added name of js
</body>

</html>
